/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #e2a139, #f9d423);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-heading {
  font-size: 15px;
  font-family: 'Roboto';
  color: #a35200;
}
@media screen and (min-width: 769px) {
  .main-heading {
    font-size: 23px;
  }
}
.coin-game-container {
  background-color: #ffff;
  height: 70vh;
  width: 30%;
  /* margin: 12px; */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  height: 150px;
  width: 150px;
}
.button {
  color: #a35200;
  background-color: #f9d423;
  border: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 400px;
  border-radius: 8px;
}
.coin-count-container {
  display: flex;
}
.total-count {
  margin-right: 7px;
}
.heads-count {
  margin-right: 7px;
}
